@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-Mediu.eot");
  src: local("../public/fonts/neue-haas-gotesk/NeueHaasDisplay-Mediu.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-RomanItalic.eot");
  src: local(
    "../public/fonts/neue-haas-gotesk/NeueHaasDisplay-RomanItalic.eot"
  );
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-Black.eot");
  src: local("../public/fonts/neue-haas-gotesk/NeueHaasDisplay-Black.eot");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-MediumItalic.eot");
  src: local(
    "../public/fonts/neue-haas-gotesk/NeueHaasDisplay-MediumItalic.eot"
  );
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-BlackItalic.eot");
  src: local(
    "../public/fonts/neue-haas-gotesk/NeueHaasDisplay-BlackItalic.eot"
  );
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-Roman.eot");
  src: local("../public/fonts/neue-haas-gotesk/NeueHaasDisplay-Roman.eot");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-BoldItalic.eot");
  src: local("../public/fonts/neue-haas-gotesk/NeueHaasDisplay-BoldItalic.eot");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-LightItalic.eot");
  src: local(
    "../public/fonts/neue-haas-gotesk/NeueHaasDisplay-LightItalic.eot"
  );
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-Bold.eot");
  src: local("../public/fonts/neue-haas-gotesk/NeueHaasDisplay-Bold.eot");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-Light.eot");
  src: local("../public/fonts/neue-haas-gotesk/NeueHaasDisplay-Light.eot");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-XXThin.eot");
  src: local("../public/fonts/neue-haas-gotesk/NeueHaasDisplay-XXThin.eot");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-XThinItalic.eot");
  src: local(
    "../public/fonts/neue-haas-gotesk/NeueHaasDisplay-XThinItalic.eot"
  );
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-XXThinItalic.eot");
  src: local(
    "../public/fonts/neue-haas-gotesk/NeueHaasDisplay-XXThinItalic.eot"
  );
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-XThin.eot");
  src: local("../public/fonts/neue-haas-gotesk/NeueHaasDisplay-XThin.eot");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-Thin.eot");
  src: local("../public/fonts/neue-haas-gotesk/NeueHaasDisplay-Thin.eot");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-ThinItalic.eot");
  src: local("../public/fonts/neue-haas-gotesk/NeueHaasDisplay-ThinItalic.eot");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Neue-Haas-Grotesk";
  src: url("../../public/fonts/neue-haas-gotesk/NeueHaasDisplay-ThinItalic.eot");
  src: local("../public/fonts/neue-haas-gotesk/NeueHaasDisplay-ThinItalic.eot");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "IvyOra Display";
  src: url("../../public/fonts/ivyora-display/IvyOraDisplay-Bold.eot");
  src: local("../public/fonts/ivyora-display/IvyOraDisplay-Bold.eot");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IvyOra Display";
  src: url("../../public/fonts/ivyora-display/IvyOraDisplay-Light.eot");
  src: local("../public/fonts/ivyora-display/IvyOraDisplay-Light.eot");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IvyOra Display";
  src: url("../../public/fonts/ivyora-display/IvyOraDisplay-BoldItalic.eot");
  src: local("../public/fonts/ivyora-display/IvyOraDisplay-BoldItalic.eot");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IvyOra Display";
  src: url("../../public/fonts/ivyora-display/IvyOraDisplay-MediumItalic.eot");
  src: local("../public/fonts/ivyora-display/IvyOraDisplay-MediumItalic.eot");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IvyOra Display";
  src: url("../../public/fonts/ivyora-display/IvyOraDisplay-LightItalic.eot");
  src: local("../public/fonts/ivyora-display/IvyOraDisplay-LightItalic.eot");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IvyOra Display";
  src: url("../../public/fonts/ivyora-display/IvyOraDisplay-Medium.eot");
  src: local("../public/fonts/ivyora-display/IvyOraDisplay-Medium.eot");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IvyOra Display";
  src: url("../../public/fonts/ivyora-display/IvyOraDisplay-Regular.eot");
  src: local("../public/fonts/ivyora-display/IvyOraDisplay-Regular.eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IvyOra Display";
  src: url("../../public/fonts/ivyora-display/IvyOraDisplay-Thin.eot");
  src: local("../public/fonts/ivyora-display/IvyOraDisplay-Thin.eot");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IvyOra Display";
  src: url("../../public/fonts/ivyora-display/IvyOraDisplay-RegularItalic.eot");
  src: local("../public/fonts/ivyora-display/IvyOraDisplay-RegularItalic.eot");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IvyOra Display";
  src: url("../../public/fonts/ivyora-display/IvyOraDisplay-ThinItalic.eot");
  src: local("../public/fonts/ivyora-display/IvyOraDisplay-ThinItalic.eot");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
