@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

body {
  color: rgb(255, 255, 255);
  height: 100vh;
  overscroll-behavior: contain;
}


:root {
  --off-black: #333333;
  --wolves-aurora: #78be20;
  --wolves-black: #000000;
  --wolves-grey: #9a9ea0;
  --wolves-lake: #236192;
  --wolves-lake-blue-rgb: 35, 97, 146;
  --wolves-moon-gray: #A0A2A3;
  --wolves-navy: #0c2340;
  --wolves-navy-rgb: 12, 35, 64;
  --wolves-offwhite: #ededed;
  --wolves-shadow-gray: #373A36;
  --wolves-white: #ffffff;
}

.fadeIn {
  animation: fadeIn ease-in 1.2s;
  -webkit-animation: fadeIn ease-in 1.2s;
  -moz-animation: fadeIn ease-in 1.2s;
  -o-animation: fadeIn ease-in 1.2s;
  -ms-animation: fadeIn ease-in 1.2s;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.thumbs {
  text-align: center;
  justify-items: center;
}

.outline-text {
  -webkit-text-stroke: 2px #78BE20;
  -webkit-text-fill-color: transparent;
}

.outline-accentText {
  -webkit-text-stroke: 3px #78BE20;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-device-width: 420px){
  .outline-accentText {
      -webkit-text-stroke: 2px #78BE20;
      -webkit-text-fill-color: transparent;
  }
}